[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
tip_jar = "HGbtQGMTCfXsAB9HPo26EoGYCp6HVvsgo5HWd1vJT3Bm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[workspace]
members = ["programs/tip_jar"]

[scripts]
test = "anchor test"
